* {
    background-color: black;
}

.intro {
    margin-top: 5%;
}

.header {
     display: flex;
     flex-direction: row;
     margin-left: 5%;
     text-align: right;
}

header img{
    width: 25%;
}

h1 {
    color: white;
    width: 80%;
    /* text-align: right; */
}

hr {
    width: 60%;
    align-self: flex-end;
}

p {
    color: white;
    font-family: 'Montserrat',sans-serif;
    width: 80%;
    /* text-align: right; */
    line-height: 170%;
    margin-top: 5%;
}


